::selection{
    background-color: #F2DA63;
}

body{
    background-color: #F2F2F2;
    color: #212121;
}

.header{
    background-color: #fff;
    box-shadow: 0 4px 56px #21212110;
    margin-bottom: 30px;
}

.header-logo{
    display: flex;
    padding: 8px 0 8px 0;

}
.head-logo{
    flex-grow: 1;
    display: flex;
    align-items: center;

}
.head-logo>img{
    height: 50px;
    margin-right: 15px;
    pointer-events: none;
}
.head-logo a{
    color: #212121;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.nav-link{
    color: #A4A5A6;
}
.navbar{
    padding: 0;
}

.btn-head-nav{
    display: block;
    height: 100%;
    padding: 15px;
    color: #00000080;
    text-decoration: none;
}
.btn-head-nav.btn-head-nav{
    text-decoration: none;
    color: #000000e6;
}
.nav-button{
    float: right;
}
.nav-button>a{
    display: block;
    padding: 10px 25px;
    background-color: #F2DA63;
    color: #000;
    border-radius: 50px;
    margin-bottom: 5px;
    box-shadow: 0 4px 16px #2121213d;
}
.nav-button>a:hover{
    text-decoration: none;
}

.nav-item, .btn-head-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-link{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.nav-link>div{
    padding: 15px;
    height: 100%;
}
.nav-link:hover>span{
    background-color: #F2DA63;
}
.active>.nav-link>span{
    background-color: #F2DA63;
}
.touch-nav{
    display: block;
    height: 3px;
    width: 65%;
    /* padding: 0 15px; */
    align-self: center;
    border-radius: 50px 50px 0 0;
    background-color: #fff;
}
.content-nav{
    height: 72px;
}
.content-nav>.nav{
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    padding: 15px 30px;
    align-items: center;
    height: 100%;
    width: 100%;
}
.content-nav>.nav>span{
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    color: #F2DA63;
}
.content-nav>.nav>li>a{
    text-decoration: none;
    color: rgba(0,0,0,.5);
}
.content-nav>.nav>li>a:hover{
    color: #212121;
}
.content-nav>.nav>span::selection {
    background: transparent;
 }


@media (max-width: 989px){
    .touch-nav{
        width: 100%;
        border-radius: 0;
    }
    .header-logo{
        display: flex;
    }
    
}




/*  */

h2{
    text-decoration: #F2DA63;
}

.content-block{
    padding: 0;
}

.content-info-main-block{
    padding: 30px 0;

}
.content-info-main-block>.row{
    margin-bottom: 50px;
}
.info-img>img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 56px #2121213d;
}
.info-text{
    padding: 30px;
    /* background-color: #F2DA63bd; */
    border-radius: 10px;
    font-size: x-large;
}


.info-text>b{
    font-size: xx-large;
}

.content-autom-block{
    background-color: #A4A5A6;
    padding: 60px 0;
}
.content-info-autom-block>.row>.info-text>h2{
    font-size: 35pt;
}
.content-info-autom-block>.row>.info-text{
    color: #F2F2F2;
    font-size: 20pt;
    text-align: justify;
}


.content-info-pa-block{
    padding: 60px 0;
}
.content-info-pa-block>.row{
    margin-bottom: 20px;
}


footer{
    border-top: 1px solid #A4A5A6;
    /* background-color: #A4A5A6; */
}
.footer>.container{
    padding: 15px;
    display: flex;
    align-items: center;
    /* justify-content: center; */

}
.footer>.container>span{
    flex-grow: 1;
}
.footer>.container>img{
    pointer-events: none;
}

.upper{
    position: fixed;
    bottom: 15px;
    right: 15px;
}
.upper>a{
    background-color: #F2DA63;
    color: #5d6164;
    display: flex;
    font-size: 25pt;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50px;
    box-shadow: 0 4px 56px #2121213d;
}
.upper>a>img{
    width: 23px;
    height: 23px;
}