.calc-block{
    margin: 25px 0 0 0;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    padding: 30px 30px;
}

.calc-to-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}
.calc-to-block>*{
    margin: 0 15px;
}

.content-info-main-block>h1{
    font-size: xx-large;
}

.calc-input,
.currency-button,
.def-button,
.calc-select,
.deadline-button,
.new-deadline-button,
.get-button{
    border-radius: 50px;
}

.calc-input{
    border-radius: 50px;
    border: #fff;
    background-color: #F2F2F2;
    padding: 3px 25px;
    font-size: x-large;
    width: 240px;

}
.calc-input:focusn{
    border: #fff;
    border-radius: 50px;

}
.calc-input:active, .calc-input:hover, .calc-input:focus,
.currency-button:active, .currency-button:hover, .currency-button:focus,
.def-button:active, .def-button:hover, .def-button:focus,
.calc-select:active, .calc-select:hover, .calc-select:focus,
.deadline-button:active, .deadline-button:hover, .deadline-button:focus,
.new-deadline-button:active, .new-deadline-button:hover, .new-deadline-button:focus,
.get-value-block:active, .get-value-block:hover, .get-value-block:focus
{
    outline: 0;
    outline-offset: 0;
}


.calc-input-hide{
    display: none;
}

.currency-button,
.deadline-button,
.new-deadline-button{
    background-color: #F2F2F2;
    border: none;
    font-size: 17pt;

}

.currency-button{
    height: 50px;
    width: 50px;
}
.get-button{
    padding: 10px 25px;
    border: none;
    font-size: 17pt;
}
.get-value-block{
    background-color: red;
    border-radius: 0 0 10px 10px;
    width: 100%;
    display: block;
    justify-content: center;
}

.deadline-button,
.new-deadline-button{
    padding: 0 25px;
    height: 50px;
}


.calc-percent>input{
    width: 150px;
}


.currency-active, .def-button, .get-value-block{
    background-color: #F2DA63;
}
.calc-input-active{
    color: blueviolet;
    font-weight: 500;
}


.calc-select{
    position: relative;
    background-color: #F2F2F2;
    padding: 10px 25px;
    border: none;
    -webkit-appearance: none;
}
.calc-select::before{

    content: '';
    position: absolute;
}

.def-button{
    border: none;
    font-size: 15pt;
    padding: 10px 25px;
}



/* Авторизация */


.hide-block{
    display: none!important;
}

.sign-in-block{
    margin: 0 15px;
}

.sign-in-text-block{
    padding: 30px;
    /* width: 50%; */
    font-size: x-large;
}

.sign-in-form-block>form{

    background-color: #fff;
    /* width: 50%; */
    border-radius: 10px;
    
}
.sign-in-form-block>form>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.sign-in-form-block>form>div>h3{
    margin-bottom: 40px;
}
.sign-in-form-block>form>div>.calc-to-block>h4{
    width: 125px;
}
.sign-in-form-block>form>div>.calc-to-block>.calc-input{
    width: 100%;
}



/* Аккаунт */

.acc-block{
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    padding: 15px 35px;
}
.acc-block>.acc-data-user{
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.acc-block>.acc-data-user> *{
    margin-right: 15px;
}
.acc-block>.acc-data-user>img{
    height: 50px;
    margin-right: 20px;
}

.acc-block>.def-button{
    float: right;
}



/* Вывод данных страница */


.calc-info-block{
    padding:  25px;
}
.calc-info{
    margin-left: 10px;
}
.calc-info>li{
    margin-bottom: 10px;
    list-style-type: none;
}
.calc-info>li>span{
    font-weight: 700;
    font-size: 15pt;
}

/* Профиль */

.profile-button-block>a{
    color: #000;
    height: 50px;
    padding: 0 20px;
    background-color: #F2DA63;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    text-decoration: none;
}