<footer class="footer">
    <div class="container">
        <span>Выполнил Станкевич Даниил Дмитриевич ИС-31</span>
        <img src="img/Picture1.png" alt="" srcset="">

    </div>
</footer>

<div class="upper">
    <a href="#">
        <img src="img/up-arrow.png" alt="">
    </a>
</div>