

<header class="container-fluid header">
    <div class="container">

        <!--logo-->

        <div class="header-logo">
            <span class="head-logo navbar-brand">
                <img src="~/img/bank.png" alt="" srcset="">
                <a href="/">Система банковского учета "BankAssistanceSystem"</a>
            </span>
            <div class="btn-head-nav-right">
                <a href="" class="btn-head-nav btn-head-nav-a d-lg-none" data-toggle="collapse" data-target="#navbar-e-collapse">
                    Меню
                </a>
            </div>
        </div>

        <!--END logo-->
        <!--navigation-->

            @await Html.PartialAsync("NavigationPartial")

        <!--END navigation-->

    </div>
</header>