

<header class="container-fluid header">
    <div class="container">

        <!--logo-->

        <div class="header-logo">
            <span class="head-logo navbar-brand">
                <img src="img/bank (1).png" alt="" srcset="">
                <a href="/">Система банковского учета "BankAssistanceSystem"</a>
            </span>
            <div class="btn-head-nav-right">
                <a href="" class="btn-head-nav btn-head-nav-a d-lg-none" data-toggle="collapse" data-target="#navbar-e-collapse">
                    Меню
                </a>
            </div>
        </div>

        <!--END logo-->
        <!--navigation-->

        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="collapse navbar-collapse" id="navbar-e-collapse">
                <ul class="navbar-nav">

                    <li class="nav-item @(@ViewBag.NavActive == "main" ? "active" : "") ">
                        <a class="nav-link" href="/">
                            <div>Предметная область</div>
                            <span class="touch-nav">

                            </span>
                        </a>
                    </li>
                    <li class="nav-item @(@ViewBag.NavActive == "mainTwo" ? "active" : "")">
                        <a class="nav-link" href="/twoPage">
                            <div>Вторая страница</div>
                            <span class="touch-nav">

                            </span>
                        </a>
                    </li>
                    <li class="nav-item @(@ViewBag.NavActive == "mainThree" ? "active" : "")">
                        <a class="nav-link" href="/threePage">
                            <div>Третья страница</div>
                            <span class="touch-nav">

                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!--END navigation-->

    </div>
</header>