@using bas.website.Service




<nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbar-e-collapse">
        <ul class="navbar-nav">
            <li class="nav-item @(@ViewBag.NavActive == @SubjectAreaConfig.NavActive ? "active" : "") ">
                <a class="nav-link" asp-controller="Home" asp-action="SubjectArea">  <!--href="/subject-area-->
                    <div>Предметная область</div>
                    <span class="touch-nav">

                    </span>
                </a>
            </li>
        </ul>
    </div>
    <div class="nav-button">
        <a asp-controller="Calculator" asp-action="CreditCalc">
            Кредитный калькулятор
        </a>
    </div>
</nav>

