
@{
    Layout = "_Layout";
    ViewBag.Title = "Кредитный калькулятор";
}


<div class="container-fluid content-block">

    <div class="container content-nav">
        <div class="nav">
            Тут будет кредитный калькулятор
        </div>
    </div>

</div>
