
@{
    Layout = "_Layout";
    ViewBag.NavActive = "mainThree";
    ViewBag.Title = "Третья страница";
}


<div class="container-fluid content-block">

    <div class="container content-nav">
        <div class="nav">
            Содержание
            <span> &#62;</span>

        </div>
    </div>

</div>
