@using bas.website.Service


@{
    Layout = "_Layout";
    ViewBag.NavActive = SubjectAreaConfig.NavActive;
    ViewBag.Title = SubjectAreaConfig.Title;
    ViewBag.IconPage = SubjectAreaConfig.IconPage;
}


<div class="container-fluid content-block">

    <div class="container content-nav">
        <div class="nav">
            Содержание
            <span> &#62;</span>
            <a href="#oper-main"> Банк </a>
            <span> &#62;</span>
            <a href="#bank-uch"> Банковский учет </a>
            <span> &#62;</span>
            <a href="#bank-pasv"> Пассивы банка </a>
            <span> &#62;</span>
            <a href="#bank-activ"> Активы банка </a>
        </div>
    </div>


    <div id="oper-main" class="content-info-main-block container">
        <div class="row">
            <div class="col-lg-6 info-img">
                <img src="img/10390146.jpg" alt="">
            </div>
            <div class="col-lg-6 info-text">
                <b> Банк </b>  – финансово-кредитное учреждение, производящее разнообразные
                виды операций с деньгами и ценными бумагами и оказывающее финансовые
                услуги юридическим и физическим лицам.
            </div>
        </div>
    </div>

    <div id="bank-uch" class="content-autom-block">
        <div class="content-info-autom-block container">
            <div class="row">
                <div class="info-text">
                    <h2>Банковский учет</h2>
                    <br>
                    <p>Предметом  учета в банках понимаются объекты в виде активов и пассивов</p>
                    <p>
                        <b> Актив банка </b> — это организации или ресурсы, в которые банк вкладывает собственные и заемные средства. Активами могут быть деньги, ценные бумаги, счета в других банках, уставные капиталы различных компаний, имущество и другие объекты.
                    </p>
                    <p>
                        <b> Пассивы банка </b> - это комплекс ресурсов, которые можно разместить в банковские активы. В пассивы входят его собственный капитал, резервы на случай кризисных ситуаций, обязательства перед клиентами.
                    </p>
                    <p>Данные области финансов требуют высокой точности подсчета, обработки, а так же долговременного и надежного храенния информации.</p>
                    <p>Так же для банковского учета необходима безопасность и распределение доступа информации среди работников банка.</p>

                </div>
            </div>
        </div>
    </div>

    <div class="content-info-pa-block container">
        <div id="bank-pasv" class="row">
            <div class="col-lg-6 info-img">
                <img src="img/kopilka_sber.png" alt="">
            </div>
            <div class="col-lg-6 info-text">
                <h2>Пассивы</h2>
                <p>К пассивам банка относится:</p>
                <ul>
                    <li>Уставной капитал банка;</li>
                    <li>Денежные средства и драгоценные металлы;</li>
                    <li>Ценные бумаги и финансовые вложения;</li>
                    <li>Кредиты предоставленные;</li>
                    <li>Депозиты и иные размещенные средства;</li>
                    <li>Имущество банка;</li>
                    <li>Дебиторская задолженность.</li>
                </ul>
            </div>
        </div>
        <div id="bank-activ" class="row">
            <div class="col-lg-6 info-text">
                <h2>Активы</h2>
                <p>К активам банка относится:</p>
                <ul>
                    <li>Уставный капитал;</li>
                    <li>Добавочный капитал;</li>
                    <li>Корреспондентские счета коммерческих банков, открытые в банке;</li>
                    <li>Депозиты и иные привлеченные средства;</li>
                    <li>Выданные кредиты.</li>
                </ul>
            </div>
            <div class="col-lg-6 info-img">
                <img src="img/активы-банка-3.jpg" alt="">
            </div>
        </div>
    </div>
</div>
